// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1, h2 {
    font-family: Georgia, "Bitstream Charter", serif;
}

#content {
    width: 706px;
    background: #eee;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.6);
}

.customers {
    overflow: auto;
    margin-left: -20px;
}

.customer {
    background: white;
    width: 200px;
    border: 1px solid #aaa;
    padding: 10px;
    float: left;
    margin-left: 20px;
    margin-bottom: 30px;
    min-height: 500px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.6);
}

.customer .actions, .menu {
    text-align: right;
}

p.no_image {
    height: 246px;
    background: #eee;
    padding: 10px;
}

